.theme-light {
  --color-theme-text-thead: #c5c7cb;
  --color-theme-table-row-sticky: #fff;
  --color-theme-accents: #ef192d;
  --color-theme-transaction-icon: #037cff;

  --color-theme-page-background-primary: #f2f2f2;
  --color-theme-content-background-primary: #fff;
  --color-theme-feature-background: #1a1a00;
  --color-theme-table-row: #f8f9fd;
  --color-theme-table-row-hover: #fff;
  --color-theme-text-primary: #ddaa00;
  --color-theme-text-secondary: #cca300;
  --color-theme-text-content: #cc9600;
  --color-theme-text-placeholder: #a0a6c8;
  --theme-shadow: 0 1px 9px rgba(203, 208, 228, 0.19);
  --theme-table-hover-shadow: 0 5px 30px rgba(124, 138, 192, 0.22);
  --theme-border: #eeeeee;
  --theme-border-secondary: #f2f2f2;
  --nav-background: #ffffff;
  --nav-border: #e6b800;
  --stat-background: #fafbfe;
  --theme-text-tertiary: #838a9b;
  --ark-meter: #e4ece9;
  --theme-button: #b38600;
  --theme-button-active: #c5dbed;
  --theme-button-text: #f2f2f2;
  --theme-button-close: #a0a6c8;
  --theme-switch-button: #1a1a1a;
  --theme-switch-button-circle: #4d4d4d;
  --settings-icon: #e6b800;
  --theme-resigned-label: #cca300;
  --theme-input-field-border: #abbbca;
  --theme-input-field-border-focus: #000000;
  --theme-input-field-border-hover: #037cff;
  --theme-line-separator: #e6e6e6;
}

.theme-light footer a {
  color: #8c8c8c;
}
.theme-light footer a:hover {
  color: #737373;
}

.theme-dark {
  --color-theme-text-thead: #a1a2a6;
  --color-theme-table-row-sticky: #25262c;
  --color-theme-accents: #b38f00;
  --color-theme-transaction-icon: #037cff;

  --color-theme-page-background-primary: #262626;
  --color-theme-content-background-primary: #202126;
  --color-theme-feature-background: #202126;
  --color-theme-table-row: #1a1a1a;
  --color-theme-table-row-hover: #2a2b31;
  --color-theme-text-primary: #ffffff;
  --color-theme-text-secondary: #a1a2a6;
  --color-theme-text-content: #a1a2a6;
  --color-theme-text-placeholder: #999999;
  --theme-shadow: 0 1px 9px rgba(0, 0, 0, 0.15);
  --theme-table-hover-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
  --theme-border: #25262c;
  --theme-border-secondary: #25262c;
  --nav-background: #2a2b31;
  --nav-border: #282a30;
  --stat-background: #202126;
  --theme-text-tertiary: #626466;
  --ark-meter: #26272c;
  --theme-button: #2a2b31;
  --theme-button-active: #1a1a1a;
  --theme-button-text: #fff;
  --theme-button-close: #808080;
  --theme-switch-button: #404040;
  --theme-switch-button-circle: #666666;
  --settings-icon: #a1a2a6;
  --theme-resigned-label: #c53a4a;
  --theme-input-field-border: #404040;
  --theme-input-field-border-focus: #3d4852;
  --theme-input-field-border-hover: #037cff;
  --theme-line-separator: #585c6f;
}

.theme-dark footer a {
  color: #414348;
}
.theme-dark footer a:hover {
  color: #43475c;
}
